div .editar{
    font-family: monospace;
    font-weight: bolder;
    color: #424242;
    width: 4.6rem;
    margin: 0rem 0.4rem;
    padding: 0rem;
    float: right;
    cursor:pointer;
}

div .inicio{
    font-family: monospace;
    font-weight: bolder;
    color: #424242;
    padding: 0.5rem;
}

.megadiv{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.esquerda{
    width: 60%;
    margin-right: auto;
    margin-left: 1.5rem;
}

.direita{
    width: 30%;
    margin-right: 1.5rem;
    margin-left: auto;
}

.box1{
    text-align: center;
    color: white;
    font-family: monospace;
    text-shadow: 2px 0px 4px #BEAEAE;
    font-weight: bold;
    background-color: #174052;
    border-radius: 1rem;
    margin: 10;
}

.box2{
    color: #424242;
    font-family: monospace;
    font-weight: bold;
    background-color: #E6E6E6;
}

div .amigos{
    text-align: center;
    font: inherit;
    background-color: #E6E6E6;
    border: 0.5rem solid #174052;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

div .filmes{
    text-align: center;
    background-color: #E6E6E6;
    border: 0.5rem solid #174052;
    border-radius: 1rem;
    margin-top: 2rem;
    margin-bottom: 4.5rem;
}

div .livros{
    text-align: center;
    background-color: #E6E6E6;
    border: 0.5rem solid #174052;
    border-radius: 1rem;
    margin-bottom: 4.5rem;
}

div .series{
    text-align: center;
    background-color: #E6E6E6;
    border: 0.5rem solid #174052;
    border-radius: 1rem;
    margin-bottom: 4.5rem;
}

div .sugestoes{
    text-align: center;
    background-color: #E6E6E6;
    border: 0.5rem solid #174052;
    border-radius: 1rem;
    margin-bottom: 4.5rem;
}

div .recomendacoes{
    text-align: center;
    background-color: #E6E6E6;
    border: 0.5rem solid #174052;
    border-radius: 1rem;
    margin-bottom: 4rem;
}